body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(209, 224, 224);
}
header{
  text-align: center;
  background-color: slategray;
  border-bottom: 10px solid navy;
}

h1{
  font-size: 150%;
  width: 100%;
  
}
ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
  align-content: center;

  /*new line*/
  flex-wrap: wrap;
}
li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  font-size: 1.5rem;
  cursor: pointer;
}
li:hover{
  color: lightskyblue;
}
.selected{
  color:blue
}
.weather{
  flex:2;
}
.today{
  margin:20px;
  margin-bottom: 0px;
  padding: 0;
  padding-bottom: 0;
  line-height: 1.5em;
  border: 5px ridge whitesmoke;
  align-content: center;
  justify-content: center;
}
.today-temp{
  flex: 1;
  display:inline-block;
  flex-wrap: wrap;
  display: flex;
  flex-direction:row;
  margin: 20px;
  justify-content: center;
}
.today-text{
  font-size: 20px;
}
.nextblock{
  flex-wrap: wrap;
  display: flex; 
  margin: 0;
  justify-content: center;
  border: 5px ridge white;
}
.comingDays{
  display:inline-block;
  margin: 0; 
  width: 125px;
  height: 200px;
  line-height: 1.3em;
  font-size: 14px;
  border: 1px ridge white;
  flex: 1;
}
.temperature{
  font-size: 2em;
  font-weight: bold;
}
.temperature h2{
  font-size: 3em;
  font-weight: bold;
}
.temperature:after{
  /*content:" \2103";*/ /* for degree symbol and C*/
  content:"\00B0";
}
p{
  font-weight: bold;
}
 
 @media screen and (max-width: 992px) {
  h1{
    font-size: 140%;
  }
  header{
    padding:15px;
  }
} 
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  body{
    font-size: 14px;
  } 
  h1{
    font-size: 125%;
  }
  li{
    font-size:150%;
  } 
  .comingDays{
    width: 100px;
    height: 150px;
  }
  header{
    padding:10px;
  }
}
/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  body{
    font-size: 14px;
  }
  h1{
    font-size: 100%;
  } 
  h2, h3{
    font-size: 100%;
  }
  li{
    font-size:100%;
  } 
  .container{
    margin-left: 1px;
    margin-right: 5px;
  }
  .today{
    margin:2px;
  }
  .comingDays{
    line-height: 0.9em;
    width: 50px;
    height: 150px;
  }
  header{
    padding:5px;
  }
  main{
    padding:5px;
  }
}